[submodule "Bootstrap/external/capstone"]
	path = Bootstrap/external/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "Bootstrap/external/funchook"]
	path = Bootstrap/external/funchook
	url = https://github.com/LemonLoader/funchook.git
[submodule "Bootstrap/external/dobby"]
	path = Bootstrap/external/dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "ExternalDeps/Il2CppAssemblyUnhollower"]
	path = ExternalDeps/Il2CppAssemblyUnhollower
	url = https://github.com/LemonLoader/Il2CppAssemblyUnhollower.git
	branch = lemon
[submodule "ExternalDeps/Cpp2IL"]
	path = ExternalDeps/Cpp2IL
	url = https://github.com/LemonLoader/Cpp2IL.git
	branch = new-analysis
[submodule "ExternalDeps/JNISharp"]
	path = ExternalDeps/JNISharp
	url = https://github.com/LemonLoader/JNISharp.git
